<!-- Image Container -->
<section id="front-image-container">
  <img id="front-image" src="../assets/images/desk.jpg">
  <h1 id="motto-on-image">LEARN DATABASES FOR FREE<br>IN A FUN WAY</h1>
  <a href="#education-container">
  <button id="btn-go-to-mission"
          class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect"
          data-upgraded=",MaterialButton,MaterialRipple">
    <i class="material-icons">expand_more</i>
    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
  </a>
</section>

<!-- Education Container -->
<section id="education-container">
  <div id="education-grid" class="mdl-grid">
    <div id="education-image-container" class="mdl-cell mdl-cell--6-col">
      <img id="education-image" src="../assets/images/er.png">
    </div>
    <div id="education-content-container" class="mdl-cell mdl-cell--6-col">
      <h2 id="education-subtitle">
        Free Education
      </h2>
      <p id="education-subtitle-text">
        Provide free and good quality databases education.
        <br/> You can learn about Relational Database Management Systems(RDBMS)
        <br/> such as MySQL, Oracle 11g, PostgreSQL, etc.
        <br/> Moreover, there are available trainings in the NoSQL realm
        <br/> like MongoDB and neo4j. Different difficulties await to challenge you!
      </p>
    </div>
  </div>
</section>

<!-- Real Time Container -->
<section id="real-time-container">
  <div id="real-time-grid" class="mdl-grid">
    <div id="real-time-content-container" class="mdl-cell mdl-cell--6-col">
      <h2 id="real-time-subtitle">
        Real-Time Exercise
      </h2>
      <p id="real-time-subtitle-text">
        Test your skills and learn as you go!
        <br/> You can solve different business problems
        <br/> and see your results tight away.
        <br/> Write various queries, learn from mistakes
        <br/> and play with data yourself. It's fun!
      </p>
    </div>
    <div id="real-time-image-container" class="mdl-cell mdl-cell--6-col">
      <img id="real-time-image" src="../assets/images/db.png">
    </div>
  </div>
</section>
